.login{
    position: relative;
    margin:10px 0 1px 0;
    width:290px;
    height:168px;    
    background:url(../pic/bg_01.jpg) no-repeat;
    background-color: #fff;
}

.face .facepic{
    position: relative;
    top:6px;
    width:80px;
    height:80px;
    margin:0px auto;
    border-radius:50%;
    background:url(../pic/taobao_02.jpg) no-repeat;
}

.face p{
    margin:8px 0 4px 0;
    text-align:center;
    font:12px SimSun,Arial; 
}

.caozuo{
    height:20px;
    margin-bottom: 2px;
    text-align:center;
    font:12px/20px SimSun;   
}

 .caozuo img{
    display: inline-block;
    margin-bottom: -4px;
} 

.caozuo span a{   
    text-decoration:none;
    color:rgb(255, 68, 0);
}

.caozuo2{
    position: relative;
    width:100%;
    height: 25px;
    margin:0 16px;
}

.caozuo2::after{
    content:"";
    display:block;
    clear:both;
}

.caozuobt{
    float:left;
    height:25px;
    background-color: rgb(255,68,0);
    font:15px/25px SimSun,Arial;
    font-weight:bold;
    text-align:center;
}

.caozuobt a{
    text-decoration: none;
    color: #fff;
}

.caozuobt1{
    float:left;
    width:92px;
}

.caozuobt2,.caozuobt3{
    float:left;
    margin:0 0 0 7px;
    width:75px;
}

.notice{
    position: relative;
    width:290px;
    height:109px;
    margin:1px 0;
    background-color:#fff;
}

.noticetable{
    position: relative;
    width:100%;
    height:40px;
}

.notice ul{
    margin: 0;
    padding:0;
}

.notice ul li{
    display: inline-block;
    width: 50px;
    height: 26px;
    padding: 2px;
    list-style: none;
    text-align:center; 
}

.notice ul li a{
    text-decoration:none;
    color: #000;
    font:12px/29px SimSun,Arial;
}

.notice .content{
    position: absolute;
    left:0px;
    top:40px;
    width:100%;
    background-color: #fff;
    z-index:1;
}

.notice .content{
    z-index:2;
}

.notice .content::after{
    content:"";
    display:block;
    clear:both;
}

.notice .dot .content{
    z-index:3;
}

.notice .dot{
    border-bottom: 2px solid #f40;
}

.notice .dot a{
    font-weight:700;
}

.notice .content p{ 
    float:left;
    width:145px;
    height: 26px;
    margin:0;
    font:12px SimSun,Arial;
}

.notice .dot:first-child p:first-child{
    width:100%;
    color:rgb(255, 68, 0);
}

.function{
    position: relative;
    width:290px;
    height:200px;
    margin:1px 0;
    z-index:1;
}

.function .functionbt{
    float:left;
    width: 70px;
    height: 66px;
    border:1px solid #eaeaea;
    border-left-color:transparent;
    border-top-color: transparent;
    text-align: center;
    background-color:#fff;
}

.function .functionbt img{
    margin:auto;
    display: block;
}

.apps{
    position: relative;
    width:290px;
    height:118px;
    margin:3px 0 0 0;
    background-color: #fff;
}

.app{
    position: absolute;
    width:264px;
    height: 110px; 
    z-index:2;
    padding: 6px 0 0 13px;
     
}

.app h3{
    position: relative;
    height: 20px;
    margin:0px;
    padding-right: 13px;
    font-size: 14px;   
}

.app ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    padding-top: 6px;   
    height: 84px;
    list-style: none;
}

.app ul::before{
    content:"";
    display: table;
}

.app ul::after{
    content:"";
    display: table;
    clear: both;
    overflow: hidden;
}

.app ul li{
    position: relative;
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #FFF;
    margin-right: 21px;
    margin-bottom: 8px;   
}

.app ul li.navapp.navapp1{
    background: url(../pic/taobaoapp.jpg) no-repeat;
}

.app ul li.navapp .app-qr{
    position: absolute;
    bottom: 39px;
    left: -32px;
    width: 90px;
    height: 102px;
    background: #FFF;
    border: 1px solid #dedede;
    text-align: center;
    display: none;  
    z-index:10;
}

.app ul li.navapp .app-qr img{
    width: 66px;
    height: 66px;
    padding: 12px;
    padding-bottom: 0;
}

.app ul li.navapp .app-qr p{
    margin:0;
    padding:0;
    font-size:12px;
}

.app ul li.navapp:hover .app-qr{
    display: block;
}