.divcss5{ 
    width:400px; 
    border:1px solid #F00; 
    background:#FF0;
    overflow:hidden; 
} 
.divcss5-left,.divcss5-right{ 
    width:180px; 
    height:100px; 
    border:1px solid #00F; 
    background:#FFF;
} 
.divcss5-left{ 
    float:left;
} 
.divcss5-right{ 
    float:right;
} 

.clear{clear:both;}