*{
    padding:0;
    margin:0px;
}
.son{
    height: 20px;
    width:100px;
    background-color: #fb2;
}

.son2{
    background-color: #a22;
}

[class~="son"]{
    border:4px solid #af0;
}

img[src$="2.png"]{
    border:8px solid #1f5;
}

img[src*="png"]{
    border:8px solid #1f5;
}
 
. [src="test2.png"]{
    border:2px solid #f00;
}
