*{
    padding: 0px;
    margin: 0px;
}

.container{
    background: url(./test4.jpg),url(./test5.png);
    width:623px;
    height:1024px;
    box-shadow:100px 100px 10px 10px #333;
    background-size: cover;
    background-blend-mode: soft-light;
}