.header .left{
    float: left;
}

.header .wx,.header .phone{
    display: inline-block;
    line-height: 30px;
}

.header .right{
    float: right;
    line-height: 30px;
    color: #aaa; 
    font-size: 12px;
}
.header .right span{
    position: relative;
    display: inline-block;
    padding-right: 12px;
}

.header .right .btn{
    display: inline-block;
    margin:3px 12px 0 3px;
    padding: 0;
    width: 90px;
    height: 24px;
    font-size:12px;
    line-height: 24px;
    color: #fff;
    border-radius: 4px;
}

.header .right .btn:hover{
    cursor: pointer;
    background-color: rgba(221, 79, 80, .8);
}

.header .right .menu{
    position: relative;
    display: inline-block;
    padding: 0;
    width: 90px;
    height: 32px;
    border: 1px solid transparent;
    border-width:0 1px; 
    text-align: center;
}

.header .right .menu:hover{
    background-color: #fff;
    border-color: #eee;
}

.header .right .menu:hover>.inner{
    display: block;
}

.header .right .b_nav{
    color:#999;
}

.header .right .inner{
    position: absolute;
    padding: 0;
    left:0;
    top:30px;
    width: 90px;
    background-color: #fff;
    border: 1px solid #eee;
    border-top:none;
    text-align: center;
    z-index: 999;
    display: none; 
}

.header .right .inner a{
    display:block;
    width: 90px;
    padding: 8px 0;
}

.header .right .inner.big{
    left:-511px;
    width: 600px;
    height: 210px;
} 

.header .right .inner.big .a_nav{
    width: 80px;
}

.header .right .inner:last-of-type ul{
    list-style: none;
}

.header .right .inner:last-of-type li{
    float:left;
}

.search .img{
    display: inline-block;
    margin: 0 10px 0 0;
}

.searchbar{
    position: absolute;
    left:320px;
    top:30px;
    width: 480px;
    height: 34px;
    border: 2px solid #dd4f50;
}

.searchbar .tab{
    position: relative;
    float: left;
    width: 94px;
    height: 34px;
    color: #666;
    font-size: 12px;
    border-right:1px solid #eee;
}

#maintab{
    width: 82px;
    height: 34px;
    padding-left: 12px;
    line-height: 34px;
    background-color: #fff;
}
.searchbar .tab .box{
    position: absolute;
    top: 34px;
    width: 93px;
    height: 125px;
    border: 1px solid #eee;
    border-width: 0 1px 1px 1px;
    background-color: #fff;
    z-index:999;
    display: none;   
}
.searchbar .tab .box div{
    width: 81px;
    height: 25px;
    padding-left: 12px;
    line-height: 25px;
}

/* 此处发现了一个经常遇见的问题，若是全部表现为行内元素则必须设置margin才能互相对齐 */
.searchbar .sIcon{
    float: left;
    width: 34px;
    height: 34px;
}

.search .main{
    float: left;
    width: 256px;
    height: 34px;
    border: none;
    outline: medium;
}

.search .submit{
    float: right;
    width: 80px;
    height: 34px;
    border: none; 
    background-color: #dd4f50;
    font-size:14px;
    color: #fff;
    outline: medium;
}

.search .submit:hover{
    cursor: pointer;
}

.search .or{
    position: absolute;
    left:800px;
    top: 30px;
    width: 54px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    color: #999;
}

.search .submit2{
    position: absolute;
    left:854px;
    top: 30px;
    width: 120px;
    height: 36px;
}

.nav{
    width: 100%;
    height: 100%;
}

.nav ul{
    list-style: none;
}

.nav ul a{
    color: #fff;
    font:bold 14px/40px Microsoft Yahei;
    
}

.nav li{
    position: relative; 
    float: left;
    height: 100%;
    width: 126px;
    line-height: 40px;   
    text-align: center;
    color: #fff;
}

.nav li.main{
    width: 100px;
    background-color: #dd4f50;
}

.nav li.last{
    float: right;
    width: 140px;
}

.nav .menu{
    position: absolute;
    top: 40px;
    width: 100%;   
    z-index:999;
    display: none; 
}

.nav li:hover{
    background-color: #dd4f50;
}

.nav li:hover>.menu{
    display: block;
}

.nav .menu span{
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #dd4f50;
    color: #fff;
}

.nav .menu span:hover{
    background-color: rgb(208,65,66); 
}

.nav .menu a{
    
    font-weight: normal;
}


.box-banner{
    position: relative;
    z-index: 1;
}

#banner{
    position: absolute;
    left:-320px;
    width: 1200%;
    height: 420px;
    transition-duration: 0.3s;
}
.box-banner>ul{
    position: absolute;
    left:600px;
    top: 380px;
    list-style:none;
    z-index:100;
    overflow: hidden; 
}

.box-banner li{
    float: left;
    width: 10px;
    height: 10px;
    margin:0 5px;
    border-radius: 5px;
    background-color: #999;
    cursor: pointer;
}

.con-top{
    width: 280px;
    height: 420px;
    background-color: #fff;
    z-index:100;
}

.con-top .choice{
    margin: 0 auto;
    width: 220px;
    height: 139px;
    border-bottom: 1px solid #eee;
}

.con-top .choice.last{
    border: none;
}

.con-top .choice span{
    display: inline-block;
    padding: 21px 0 8px 0;
    font-size: 14px;
    color: #333;
}
.con-top .choice p{
    width: 280px;
    height: 83px;
    line-height: 28px;
}

.con-top .choice p a{
    padding-right: 30px;
}

.con-top .choice:hover .inner{
    display: block;
}

.con-top .inner{
    position: absolute;
    left: 280px;
    top: 0;
    width: 280px;
    border: 1px solid #eee;
    background-color: #fff;
    display: none; 
}

.con-top .inner1{
    height: 260px;
}
.con-top .inner2{
    top:142px;
    height: 200px;
}
.con-top .inner3{
    top: 18px;
    height: 400px;
}

.con-bottom .modl{
    float: left;
    margin-bottom: 40px;
    padding: 60px 22px;
    width: 246px;
    height: 43px;
    line-height: 24px;
    border: 1px solid #eee;
}

.con-bottom .modl img{
    float: left;
}

.con-bottom .modl a{
    font-size:20px;
}

.con-bottom .modl span{
    color: #999;
    font-size:12px;
    line-height: 16px;
}

.content .title{
    display: inline;
    font-size: 24px;
}

.content .more{
    float: right;
}

.content .line{
    width: 100%;
    border-bottom: 1px solid #eee;
}

.designer .content{
    position: relative;
    margin: 20px 0;
    width:161px;
    border: 1px solid #eee;
    border-bottom-width: 0;
}
.designer .tabbox{          
    width: 156px;
}
.designer .tab{
    width: 156px;
    height: 71px;
    margin: 0 auto;
    line-height: 71px;
    border-left:4px solid transparent;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    text-align: center;
    font-size:14px;
}

.designer .tab+.content-detail{
    position: absolute;
    top:0;
    left: 162px;
    width: 1000px;
    height: 285px;
    background-color: #fff;
    border: 1px solid #eee;
    font:bold 30px SimSun;
    overflow: hidden;
    display: none;   
}

.designer .tab+.content-detail.main{
    display: block;
}

.designer .arrow{
    width: 10px;
    height: 10px;
    margin: 0 0 -2px 16px;
    /* border: 1px solid #999; */
    display: inline-block;
}

.designer .lbtn,.designer .rbtn{
    width: 30px;
    height: 34px;
    position: absolute;
    top: 125px;
    margin-top: -34px;
    background-color: #000;
    opacity: .3;
    color:#fff;
    font:normal 30px/34px SimSun;
    text-align: center;
    cursor: wait;
    z-index: 100;
}

.designer .lbtn{
    left:0;
}
.designer .rbtn{
    right:0;
}

.designer .lbtn:hover,.designer .rbtn:hover{
    opacity: .5;
}


.designer .content-detail .scroll-top{
    position: absolute;
    top:0;
    left:0;
    list-style: none;
    margin-bottom: 20px;
    width: 300%;
    height: 184px;
    transition-duration: 1s;
}

.designer .content-detail .scroll-top li{
    position: relative;
    float: left;
    width: 184px;
    height: 184px;
    margin-right:20px;
    background-color: #eee;
}

.designer .content-detail .scroll-bottom{
    position: absolute;
    bottom: 0;
    list-style: none;
    width: 300%;
    height: 82px;
    transition:.5s;
}

.designer .content-detail .scroll-bottom li{
    position: relative;
    float: left;
    width: 82px;
    height: 82px;
    margin-right:20px;
    background-color: #eee;
}

.designer .content-detail span{
    display: block;
    position: absolute;
    bottom: 10px;
    width: 100%;
    color: #fff;
    font-size:12px;
    text-align: center;
}

.designer .content-detail.jigou img{
    float: left;
    width: 100px;
    height: 100px;
    background-color: #000;
}

.case .content{

}

.case .content .example{
    position: relative;
    float: left;
    margin-right: 17px;
    width: 280px;
    height: 376px;
    border: 1px solid #eee;
    text-align: center;
    line-height: 22px;
}
.case .content .example:nth-of-type(4){
    margin-right: 0;
}

.case .content .example .expbox{
    position: relative;
    width: 280px;
    height: 324px;
}

.case .content .example .expbox>img{
    width: 100%;
    height: 283px;
    background-color: #000;
    opacity:.5;
}

.case .content .example .expbox>img:hover{
    opacity: .3;
}
.case .content .example .hicon{
    position: absolute;
    top:242px;
    left: 99px;
    width: 82px;
    height: 82px;
    background-color: #000;
    border-radius: 50%;
}

.case .content .example span{
    font-size:12px;
    color: #999;
}


.insit .content{
    position: relative;
    margin-top:10px;
    width: 100%;
    height: 174px;
    border: 1px solid #eee;
    overflow: hidden;
}
/* a标签对img的影响 */
.insit .content div{
    position: absolute;
    transition-duration: .5s;
}

.insit .content div:nth-of-type(2){
    left:550px;
}

.insit .content div:nth-of-type(3){
    left:762px;
}
.insit .content div:last-of-type{
    left:974px;
}

.gallery .content{
    margin-top: 10px;
    width: 100%;
}

.gallery .content span{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    font-size: 18px;
    color: #fff;
}

.gallery .content li:hover>a>img{
    opacity: 0.9;
}

.gallery .family{
    list-style: none;
    width: 100%;
    overflow:hidden;
}

.gallery .family li{
    position: relative;
    float: left;
    width: 280px;
    height: 280px;
    margin:0 2px 20px 0;
    background-color: #000;
    list-style: none;
}

.gallery .family li:nth-of-type(1),.gallery .family li:nth-of-type(5){
    width: 580px;
}

.gallery .industrial{
    list-style: none;
    overflow:right;
    display: none;
}

.gallery .industrial li{
    position: relative;
    float: left;
    width: 280px;
    height: 280px;
    margin:0 2px 20px 0;
    background-color: #000;
    list-style: none;
}
.gallery .industrial li:nth-of-type(1),.gallery .industrial li:nth-of-type(5){
    width: 580px;
}

.original .content{


}

.original .con-box{
    width: 100%;
    height: 240px;
    border: 1px solid #eee;
}

.original .name{
    float: left;
    width: 224px;
    height: 240px;
    text-align: center;
    line-height: 240px;
    color: #fff;
    font-size: 30px;
}

.original .detail{
    float: left;
    margin:20px 0 0 20px;
    width: 210px;
    height: 210px;
    background-color: #000;
}

.dynamic .content{
    overflow: hidden;
}

.dynamic .news{
    float: left;
    width: 340px;
    height: 407px;
    border: 1px solid #eee;
    margin-right:17px;
    padding: 20px;
}
.dynamic .news:nth-of-type(3){
    margin-right:0;
}

.dynamic .news h3{
    font:normal 18px/30px Microsoft Yahei;

}

.dynamic .news .visible{
    position: relative;
    width: 340px;
    height: 305px;
    overflow: hidden;
}

.dynamic .news .visible .box{
    position: absolute;
    width: 100%;
    height: 300%;
    transition-duration: 1s;
}

.dynamic .news .column{
    width: 340px;
    height: 100px;
    border-bottom: 1px solid #eee;
}

.dynamic .news .column img{
    float:left;
    padding:20px 20px 0 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.dynamic .news .column a{
    display: inline-block;
    padding:30px 0 14px 0;
    font-size: 14px;
}

.dynamic .news .column p{
    font-size:12px;
    color: #999;
    overflow: hidden;
}

.dynamic .news .column p em{
    float: right;
    padding-right:20px;
    font-style: normal;
    color: #666;
}

.dynamic .news .btn{
    display: block;
    margin: 30px 80px 0;
    width: 180px;
    height: 40px;
    font:16px/40px Microsoft Yahei;
    color: #fff;
    border-radius: 4px;
}

.footer .ref .title-box{
    height: 50px;
    border-bottom: 1px solid #eee;
}

.footer .ref span{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    border-bottom:3px solid #dd4f50;
}

.footer .ref span:hover{
    cursor: pointer;
}

.footer .ref a{
    display: inline-block;
    padding: 10px 0 0 6px;
}

.footer .contact{
    text-align: center;
    font: 12px/40px Microsoft Yahei;
    color: #666;
}

.footer .contact 

.footer .adver{
    margin:0 0 0 50px;
    width: 100%;
    height: 108px;
}

.footer .adver .adv{
    float: left;
    margin: 20px 57px 0 0;
    width: 238px;
    height: 70px;
}

.footer .adver .adv img{
    float: left;
    width: 65px;
    height: 65px;
}

.footer .adver .adv p{
    margin-left:72px;
    text-align: left;
    line-height: 18px;
    color:#b3b3b3;
}

.footer .adver .adv p b{
    color: #b3b3b3;
}

.footer .adver .adv .btn{
    display: inline-block;
    width: 75px;
    height: 21px;
    line-height: 21px;
}

.footer .contact .copyright{
    margin-top:20px;
    color:#666;
}

.footer .contact .icon{
    display: inline-block;
    width: 10px;
    height: 10px;
}
