<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular-route/1.3.13/angular-route.js"></script>

    <script type="text/javascript">
        angular.module('ngRouteExample', ['ngRoute'])
            .controller('HomeController', function ($scope, $route,$location) { $scope.$route = $route;$scope.$location=$location;})
            .controller('AboutController', function ($scope, $route,$location) { $scope.$route = $route;$scope.$location=$location;})
            .controller('Aaa', function ($scope, $route,$location) { $scope.$route = $route;$scope.$location = $location;})
            .config(function ($routeProvider) {
                $routeProvider.
                when('/home', {
                    templateUrl: 'embedded.home.html',
                    controller: 'HomeController'
                }).
                when('/about', {
                    templateUrl: 'embedded.about.html',
                    controller: 'AboutController'
                }).
                when('/error', {
                    templateUrl: 'embedded.error.html',
                }).
                otherwise({
                    redirectTo: '/error'
                });
            });
    </script>


</head>

<body ng-app="ngRouteExample" class="ng-scope">
<script type="text/ng-template" id="embedded.home.html">
    <button ng-click="$location.path('home')" >Home</button>
    <button ng-click="$location.path('about')">About</button>
    <button ng-click="$location.path('about111')">错误</button>
    <h1> Home </h1>
</script>

<script type="text/ng-template" id="embedded.about.html">
    <button ng-click="$location.path('home')" >Home</button>
    <button ng-click="$location.path('about')">About</button>
    <button ng-click="$location.path('about111')">错误</button>
    <h1> About </h1>
</script>

<!-- TODO: 这里有一个bug，是内部跳转锁定的问题 -->
<script type="text/ng-template" id="embedded.error.html">
    <button ng-click="$location.path('home')" >Home</button>
    <button ng-click="$location.path('about')">About</button>
    <button ng-click="$location.path('about111')">错误</button>
    <h1> 你怕是输错了，快特么回去看看文档~ </h1>
</script>

<div>
    <div id="navigation" ng-controller="Aaa">
        <a href="#/home">Home</a>
        <a href="#/about">About</a>
        <a href="#/about123">错误</a>

        <button ng-click="$location.path('home')" >Home</button>
        <button ng-click="$location.path('about')">About</button>
        <button ng-click="$location.path('about111')">错误</button>
    </div>
    <div ng-view>
    </div>
</div>
</body>
</html>