*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html{
    font-size:16px;
}
body{
    max-width: 540px;
    background-color: #eee;
}
.search::before,.user{
    background: url("../img/home-icons.png") no-repeat;
    background-size: 104px 326px;
}
header{
    position: fixed;
    margin: auto;
    padding:.4rem 0;
    width: 100%;
    max-width: 540px;
    box-sizing: border-box;
    border:1px solid #eee;
    background: linear-gradient(to bottom,#fff,#ccc);
}
.search{
    position: relative;
    margin-left:.4rem;
    margin-right:3.2rem;
    height:2rem;
    padding: 0 5px;
    line-height: 2rem;
    border-radius: 5px;
    background-color: #fff;
    color: #666;
    font-size: .86em;
    border:1px solid #999;
    box-shadow:0 2px 4px rgba(0,0,0,.2);
}
.search::before{
    content: "";
    position: absolute;
    top: 8px;
    left: 6px;
    width: 15px;
    height: 18px;
    overflow: hidden;
    background-position: -59px -276px;
}
.search input{
    padding-left:20px;
    width: 100%;
    box-sizing: border-box;
    border:none;
    outline:none;
}
.user{
    position: absolute;
    right: 5px;
    top: 0;
    height: 2rem;
    background-position: -59px -190px;
}
.user::before{

}
.user>span{
    display: block;
    position: relative;
    margin-top:1.5rem;
    margin-left:-7px;
    color: #2EAAE0;
}

/* 轮播图 */
.banner{
    width:100%;
}
.banner img{
    width: 100%;
    height: 100%;
}

/* nav */
nav{
    position: relative;
    margin:auto;
    margin-top:.1rem;
    width: 100%;
}
nav ul{
    position: relative;
    width: 100%;
    margin:0;
    margin-top:.2rem;
    list-style: none;
    height: 90px;
}
nav li{
    position: relative;
    width: 33.3%;
    box-sizing:border-box;
    float: left;
}
nav .row li a{
    display: block;
    width: 100%;
    height: 44px;
    line-height:44px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
}
nav .row li{
    border:1px solid transparent;
    border-width:0 1px 1px 0;
}
nav .row li:first-of-type{
    border-width:0 1px 0 0;
}
nav .row li:first-of-type a{
    height: 89px;
    border-radius:5px 0 0 5px;
}
nav .row li:first-of-type a::before{
    content: "";
    display: block;
    position: absolute;
    width: 30%;
    height: 50%;
    background: url("../img/home-icons.png") no-repeat;
    background-size: 104px 326px;
    background-position: 0 -130px;
    bottom:.2rem;
    left:50%;
    transform:translateX(-50%);
}
nav .row:nth-of-type(2) li:first-of-type a::before{
    background-position: 0 -286px;
}
nav .row:nth-of-type(3) li:first-of-type a::before{
    background-position: 0 -180px;
}

nav .row:last-of-type li:first-of-type a::before{
    width: 0;
}
nav .row li:nth-of-type(3) a{
    border-radius:0 5px 0 0;
}
nav .row li:last-of-type a{
    border-radius:0 0 5px 0;
}

nav .row:nth-of-type(1) li a{
    background-color: #ff697a;
}
nav .row:nth-of-type(2) li a{
    background-color: #3d98ff;
}
nav .row:nth-of-type(3) li a{
    background-color: #44c522;
}
nav .row:nth-of-type(4) li a{
    background-color: #fc9720;
}

nav .row:nth-of-type(4) li:first-of-type a{
    height:44px;
    border-radius:5px 0 0 0;
}
nav .row:nth-of-type(4) li:nth-of-type(4) a{
    height:44px;
    border-radius:0 0 0 5px;
}

/* .service */
.service{
    margin:0 .1rem;
    margin-top: .2rem;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.service div{
    float: left;
    width: 25%;
}
.service div a{
    display: block;
    padding:10px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border:1px solid #eee;
    border-width:0 1px 1px 0;
    background-color: #fff;
    text-align: center;
    color: #000;
    font-size:.6rem;
}
.service div a::before{
    content: '';
    display: block;
    position: relative;
    width: 28px;
    height: 28px;
    left:50%;
    transform: translateX(-50%);
    background: url("../img/un_ico_subnav.png") no-repeat;
    background-size: 26px 235px;
}
.service div:nth-of-type(4n+2) a::before{
     background-position: 0 -30px;
}
.service div:nth-of-type(4n+3) a::before{
    background-position: 0 -60px;
}
.service div:nth-of-type(4n) a::before{
    background-position: 0 -60px;
}

/* 处理边框 */
.service div:nth-of-type(4n) a{
    border-right-width:0;
}
.service div:last-of-type a,
.service div:nth-last-of-type(2) a,
.service div:nth-last-of-type(3) a,
.service div:nth-last-of-type(4) a{
    border-bottom-width: 0;
}

