/* 本css用于初始化和设置总体布局 */
html,body,p,ul,li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000;
    font:12px SimSun;
}

.clear{
    clear: both;
}

.back{
    position: absolute;
    width: 100%;
    height: 321px;
    background-color: rgb(245, 249, 252);
    background: linear-gradient(to bottom,rgb(245, 249, 252),#fff);
    z-index:1;
}

.maincontainer{
    position: relative;
    margin:0 auto;
    width: 870px; 
    z-index: 2;
}

.header{
    width: 100%;
    height: 105px;
}

.banner{
    width: 100%;
    height: 200px;
}

.content{
    width: 100%;
    height: 700px;
}

.footer{
    width: 100%;
    height: 100px;
}