/*  */

.header img{
    float: left;
    margin:38px 12px 0 14px; 
}

.header .name{
    float: left;
    font:18px SimSun;
    margin:50px 0px 0 4px;
}

.header .alt{
    float: right;
    margin:10px 10px 0 0;
    color: #999;
    font:12px SumHei;
}

.header .alt a{
    color: #999;
    font:12px SumHei;
}

/* 导航栏设置从上到下的背景线性渐变 */
.header .navbar{
    float: right;
    margin-top:20px;
    width: 530px;
    height: 36px;
    border:1px solid rgb(186, 206, 223);
    border-radius: 20px;
    background: linear-gradient(to bottom,#fff,#f3f3f3);
}

.header .navbar .nav{
    position: relative;
    float:left;
    margin-left:16px;
    padding-top:2px;
    width: 64px;
    height: 30px;
    border-bottom: 4px solid transparent;   
    text-align: center;
}

.header .navbar .nav a{
    font:16px/30px Microsoft Yahei;
    font-weight: 400;
}

.header .navbar .nav:first-of-type{
    margin-left:36px;
}

.header .navbar .nav:hover{
    border-color:rgb(102,155,229);
}

/* navbox是临时用名，用于保留设计弹窗 */
.header .navbar .nav .navbox{
    position: absolute;
    top:38px;
    width: 60px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #999;
    display: none;
}

.header .navbar .nav:hover>.navbox{
    display: block;
}

/* 大图没有设置样式 */
.banner{
    margin-bottom:16px;
}

/* 采用了inset内阴影，并设置透明度和扩展相互抵消，达到仅保留右边阴影的作用 */
.left{
    float: left;
    width: 210px;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 16px;
    box-shadow: -12px 0 30px -10px #eee inset;
}

.content .title{
    display: inline;
    font:bold 18px Microsoft Yahei;
}

.content .en{
    display: inline;
    color: rgb(89,167,211);
    font:12px Microsoft Yahei;
}

.kinds{
    width: 170px;
    height: 485px;
    margin:16px auto;
}

.kindlist{
    margin-top:10px;
    list-style: none;
}

.kindlist li{
    width: 100%;
    height: 28px;
    border-bottom: 1px solid rgb(218, 231, 238);
    overflow: hidden;
}

.kindlist li a{
    color: #333;
    font:12px/28px SimSun;
}

.kindlist li a .kind{
    width: 156px;
    padding-left:14px;
    height: 28px;
}

/* 箭头直接用一个正方形的小div设置边框颜色来实现 */
.kindlist li .arrow{
    float: right;
    margin:-18px 10px 0 0;
    border: 5px solid transparent;
    border-left-color: #fff;
}

.kindlist li:hover a .kind{
    background-color: rgb(47,92,157);
    border-radius: 22px;
}

.kindlist li:hover a{
    color: #fff;
    font-weight: bold;
}

.contact{
    position: relative;
    width: 170px;
    height: 190px;
    margin:0 auto;
}
.contact .icon{
    position: absolute;
    right: 0;
    top: 0;
}

.contact p{
    margin-top:12px;
    color: #333;
    font:12px/17px SimSun;
}

/* 此处的阴影设置和left处保持了同值 */
.right{
    float: left;
    width: 656px;
    height: 700px;
    border:1px solid #eee;
    border-radius: 16px;
    box-shadow: 12px 0 30px -10px #eee inset;
}

/* 同时设置三个介绍框，以便于对齐 */
.about,.show,.recommend{
    position: relative;
    width: 620px;
    left:28px;
    top: 18px;
}

.about{
    height: 200px;
}

/* 让icon图标行内堆积，通过设置margin来控制位置 */
.about>img,.show>img,.recommend>img{
    display: inline-block;
    margin-bottom: -6px;
}

.about .search{
    position: absolute;
    right: 0;
    top: 0;
    font:bold 16px SimSun;
}

.about .search input{
    display: inline-block;
    height: 16px;
}

/* 留作输入框样式的设置 */
.about .search input.keyword{

}
.about .search input.bt{
    height: 20px;
    width: 76px;
    font:12px/20px SimSun;
}

.about .content{
    height: 140px;
}


/* 此处让img浮动在文字边缘，设置margin来调整位置 */
.about .content img{
    float: left;
    height: 140px;
    margin-right:12px;
}

.about .content p{
    margin:8px 24px 0 0;
    font:12px/24px SimSun;
    color: #333;
}

.show,.recommend{
    height: 240px;
}

.show .content,.recommend .content{
    margin-top:12px;
    height: 170px;
}

.right .product{
    float: left;
    width: 130px;
    height: 170px;
    margin-right: 24px;
    text-align: center;
}

.right .product .imgbox{
    width: 140px;
    height: 140px;
    border: 1px solid rgb(204, 229, 255);
    text-align:center;
}

.footer{
    padding-top:20px; 
    text-align: center;
    color: #333;
    font:12px/20px SimSun;
}