html,body{
    margin: 0px;
    padding: 0px;
}

.clear{
    clear: both;
}

.headerbox{
    width:100%;
    height:35px;
    border-color:#aaa;
    border-bottom-width:1px;   
    background-color:rgb(245,245,245);
     
}

.firstbox{
    width:100%;
    height:160px;
    background-color: #fff;
}

.secondbox{
    position: relative;
    width:100%;
    height:610px;
    background-color: #eee;
}

.boxfloat{
    position: relative;
    width:1190px;
    height:610px;
    margin:0 auto;
}

.leftbox{
    position: absolute;
    z-index:10;
    width:900px;
    height:610px;
    
}

.rightbox{
    position: absolute;
    right:0;
    z-index:8;
    width:290px;
    height:610px;
}