doctype html
html
  head
    title= title
    link(rel='stylesheet', href= css)
  body
    header
    ul
      li
        a(href='/') 首页
      li
        a(href='/login') 登录
      li
        a(href='/reg') 注册
      li
        a(href='/post') 上传
      li
        a(href='/user') 用户
    block content
    footer
      div 我是页脚